.back-button {
    margin-top: 10px; 
    margin-left: 15px;
    padding: 10px 20px;
    background-color: transparent;
    border-color: transparent;
    color: #007bff; 
    cursor: pointer;
    display: flex;
    align-items: center;
}

.back-button:hover {
    color: #0056b3;
}

.arrow {
    margin-right: 8px; 
}

.logistics-form-wrapper {
    margin-left: 15px; 
    padding: 20px;
    background-color: #ffff;
    border-radius: 10px;
    margin-right: 15px;
    height: 355px;
}

.logistics-form-header h2 {
    font-size: 22px;
    margin: 0 0 5px;
}

.logistics-form-header p {
    font-size: 14px;
    margin: 0 0 5px;
}

.text-fields {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 20px; 
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: regular;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

input[type="text"],
textarea,
select,
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 14px;
    height: 40px;
}

input[type="text"]:focus,
textarea:focus,
select:focus,
input[type="date"]:focus {
    border-color: #007bff; 
    outline: 1px solid; 
}

textarea {
    resize: none;
    height: 40px;
}

/* arrow down */
select {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 10 6%22%3E%3Cpolygon points=%220,0 10,0 5,5%22 fill=%22%23888888%22 /%3E%3C/svg%3E') no-repeat;
    background-position: 96% center; 
    background-size: 10px; 
}

/* responsive design (stack fields on smaller screens) */
@media (max-width: 768px) {
    .text-fields {
        grid-template-columns: 1fr 1fr; /* stack into two columns */
    }
}

@media (max-width: 480px) {
    .text-fields {
        grid-template-columns: 1fr; /* stack into one column */
    }
}

.send-request-button {
    background-color: #0066ffd9;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 40px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-right: 5px;
  }
  
.send-request-button:hover {
    background-color: #0052cc;
  }

